Repository jakkulabs/PowervRA, pull requests merged in 2022-01, with the labels that each got.

#282 Added support to CI process for support branches
  .github/workflows/ps-module.yml
Labels: CI Pipeline

#276 add DynamicTypes support
  src/Functions/Public/catalog-service/Get-vRAResource.ps1
Labels: vRA 7.x, feature

#273 Fix $catalogPrincipal reset
  src/Functions/Public/catalog-service/Get-vRACatalogPrincipal.ps1
Labels: bug, vRA 7.x
